.pf-container {
  display: grid;
}

.pf-content {
  padding: 3vw;
}

/*Small Screens*/
@media only screen and (max-width: 900px) {
  .pf-sidebar {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.pad{
  padding-top: 40%;
  font-family: palantino;
}

  .pf-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
  }
  .pf-container {
  padding-bottom: 20%;
}

}
/*Large Screens*/
@media only screen and (min-width: 901px) {
  .pf-container {
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
  }
.pad{
  padding-top: 20%;
  font-family: palantino;
}


  .pf-content {
    grid-column-start: 2;
  }

  .pf-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .pf-sidebar {
    position: fixed;
    height: 100vh;
    width: 20vw;
  }
}
